/* font */
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

/* style utama */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Odibee Sans', cursive;
  background-color: #eee;
}

h1 {
  font-size: 3.5rem;
  text-align: center;
  margin: 30px 0;
  letter-spacing: 3px;
}

.container {
  max-width: 80%;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

.photos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 150px;
  gap: 10px;
}

figure {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

figure img {
  display: block;
  width: 100%;
}

figure figcaption {
  position: absolute;
  width: 100%;
  bottom: -45px;
  color: white;
  text-align: center;
  letter-spacing: 0.5px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  font-size: 1.3rem;
  transition: 300ms;
}

figure:hover figcaption {
  bottom: 0;
}

/* overlay */
.overlay {
  position: fixed;
}

.overlay:target {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.overlay img,
.overlay a,
.overlay p {
  position: absolute;
  display: none;
}
.overlay:target .close,
.overlay:target img,
.overlay:target p,
.overlay:target .prev,
.overlay:target .next{
  display: block;
  color: white;
  animation: zoomAndFade 1s;
}
.overlay:target .close {
  left: 50%;
  top: 50px;
  margin-left: -30px;
  text-decoration: none;
  font-size: 1.5rem;
}

.overlay:target img {
  width: 500px;
  left: 50%;
  margin-left: -250px;
  top: 100px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.overlay:target p {
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 3rem;
}

.overlay:target .prev,
.overlay:target .next{
  display: block;
  top: 250px;
  left: 400px;
}

.overlay:target .next{
  left: 940px;
}

@keyframes zoomAndFade {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
