.container {
  width: 600px;
  height: 150px;
  border: 5px solid black;
  margin: 30px auto;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  /* flex-direction: column-reverse; */
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  /* align-items: flex-start; 
    mengatur item jika hanya ada satu baris
  */
  /* align-content: space-between; */
}

.container div {
  /* width: 120px;
  height: 120px; */
  background-color: blue;
  text-align: center;
  /* line-height: 120px; */
  margin: 2px;
  flex: 1;
}

.container div.dua {
  flex: 3;
  align-self: flex-start;
}
