* {
  padding: 0;
  margin: 0;
  line-height: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
  text-align: center;
}

.container {
  width: 600px;
  margin: 10px auto;
  border: 3px solid white;
}

img.jumbo {
  width: 100%;
  height: 600px;
}

.thumbnail {
  display: flex;
  flex-wrap: wrap;
}

.thumb {
  width: 198px;
  height: 198px;
}

.thumb:hover {
  opacity: 0.5;
  cursor: pointer;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.active {
  opacity: 0.5;
}
